/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 28px;
}

.navbar {
  font-size: 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.navbar-brand a {
  text-decoration: none;
  color: #000000;
}

.navbar-brand a:hover {
  color: #6a33f8;
}

.navbar-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.navbar-item a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  color: #000000;
}

.navbar-item a:hover {
  color: #6a33f8;
}

.header-underline {
  width: 100%;
  height: 40px;
  background-color: #000000;
}

.banner-text-wrapper {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  color: #ffff;
  z-index: 2;
  font-weight: 600;
}

.advantage-list {
  list-style-type: none;
  padding: 0;
}

.advantage-item p {
  text-align: center;
  font-size: 20px;
}

.compare {
  background-color: #f8f8f8;
}

.compare-table {
  font-size: 20px;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

.compare-table th > tr,
.compare-table tr {
  border-bottom: 1px solid #b9b9b9;
}

.compare-table th,
.compare-table td {
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .compare-table {
    width: 550px;
  }
}

@media (max-width: 767px) {
  .compare .container-xl {
    overflow-x: scroll;
  }
}

.how {
  max-width: 1000px;
  margin: 0 auto;
}

.how-list {
  padding: 0;
  list-style-type: none;
}

.how-item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .how-item:not(:last-child):after {
    content: "";
    position: absolute;
    border: 10px solid #000000;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 30%;
    right: -80%;
  }
}

.how-card {
  width: 115px;
  height: 115px;
  border: 4px solid #000000;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .how-card {
    width: 150px;
    height: 150px;
  }
}

.how-card span {
  font-size: 50px;
}

@media (max-width: 767px) {
  .how-card span {
    font-size: 65px;
  }
}

.product-select {
  min-width: 255px;
  min-height: 38px;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.product-select:focus {
  outline: solid #6a33f8;
}

.product-list {
  list-style-type: none;
}

.product-item {
  position: relative;
}

.product-item-add-btn {
  display: block;
  background-color: #000000;
  color: #ffff;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.product-item-add-btn:hover {
  background-color: #6a33f8;
  color: #ffff;
}

@media (max-width: 767px) {
  .product-item-add-btn {
    padding: 10px 0;
  }
}

.product-item-content {
  min-height: 150px;
}

@media (max-width: 767px) {
  .product-item-content {
    min-height: 100px;
  }
}

.product-item-content .product-item-content-original-price {
  text-decoration: line-through;
  font-size: 1.2rem;
}

.product-item-content .product-item-content-price {
  font-size: 1.5rem;
}

.product-label {
  position: absolute;
  background-color: #000000;
  color: #ffff;
  padding: 0.5rem 3rem;
  top: 3%;
  right: 0;
}

.product img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

@media (max-width: 767px) {
  .product img {
    aspect-ratio: 4/3;
  }
}

footer {
  background-color: #6a33f8;
}

.footer-list {
  padding: 0;
  margin: 0;
}

.footer-item {
  list-style-type: none;
}

.footer-item a {
  text-decoration: none;
}

.footer .social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.table-wrapper {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

.cart {
  font-size: 1.25rem;
}

.cart-no-product {
  padding: 1rem 1.5rem;
  background-color: #f7f6f7;
  border-top: 3px solid #6a33f8;
}

.cart-no-product-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 0;
}

.cart-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: inherit;
  width: 100%;
}

.cart-head th {
  width: 15%;
  padding: 1rem;
}

.cart-head th:nth-of-type(1) {
  width: 40%;
}

.cart-body tr {
  border-top: 1px solid #b9b9b9;
}

.cart-body td {
  padding: 1rem;
}

.cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.cart-title img {
  width: 100px;
  display: block;
  aspect-ratio: 1/1;
}

.cart-title h3 {
  width: 70%;
  font-size: inherit;
}

.cart-qty input {
  width: 5rem;
  text-align: center;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

.cart-qty input:focus {
  outline: solid #6a33f8;
}

.cart-delete-btn {
  font-weight: bolder;
}

.cart-delete-all-products-btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.cart-delete-all-products-btn:hover {
  background-color: #000000;
  color: #ffff;
}

.cart-total-price {
  font-style: italic;
}

.total-table {
  width: 100%;
  font-size: 1rem;
}

.total-table tr {
  border-bottom: 1px solid #b9b9b9;
}

.total-table tr:last-of-type {
  border: none;
}

.total-table th {
  padding: 9px 12px;
}

.total-table-price {
  font-style: italic;
}

.guess-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1rem;
}

.guess-list-item img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.guess-list-item a {
  display: block;
  color: #ffff;
  text-decoration: none;
  background-color: #000000;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}

.guess-list-item a:hover {
  background-color: #6a33f8;
  color: #ffff;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.swiper img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */