/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 28px;
}

.navbar {
  font-size: 20px;
  position: relative;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.navbar-brand a {
  text-decoration: none;
  color: #000000;
}

.navbar-brand a:hover {
  color: #6a33f8;
}

.navbar-hamburger-btn {
  display: none;
  position: relative;
}

@media screen and (max-width: 860px) {
  .navbar-hamburger-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .navbar-hamburger-btn:before, .navbar-hamburger-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #000000;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: top 0.2s ease, -webkit-transform 0.2s ease;
    transition: top 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, top 0.2s ease;
    transition: transform 0.2s ease, top 0.2s ease, -webkit-transform 0.2s ease;
  }
  .navbar-hamburger-btn:before {
    top: 30%;
  }
  .navbar-hamburger-btn:after {
    top: 70%;
  }
  .navbar-hamburger-btn:focus:after, .navbar-hamburger-btn:focus-within:after {
    top: 50%;
    -webkit-transform: rotate(30deg) translateY(-50%);
            transform: rotate(30deg) translateY(-50%);
  }
  .navbar-hamburger-btn:focus:before, .navbar-hamburger-btn:focus-within:before {
    top: 50%;
    -webkit-transform: rotate(-30deg) translateY(-50%);
            transform: rotate(-30deg) translateY(-50%);
  }
  .navbar-hamburger-btn:focus + .navbar-list, .navbar-hamburger-btn:focus-within + .navbar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 860px) and (max-width: 485px) {
  .navbar-hamburger-btn:focus + .navbar-list .close-navbar-list-btn, .navbar-hamburger-btn:focus-within + .navbar-list .close-navbar-list-btn {
    display: block;
  }
}

.navbar-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 860px) {
  .navbar-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    background-color: #fdfdfd;
  }
}

@media screen and (max-width: 485px) {
  .navbar-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fdfdfd;
  }
  .navbar-list a {
    font-size: 5vw;
  }
}

.navbar-item a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
  color: #000000;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.navbar-item a:hover {
  color: #6a33f8;
  border-bottom: 2px solid #6a33f8;
}

.close-navbar-list-btn {
  border: 0;
  font-weight: bold;
  background-color: transparent;
  margin-top: 1rem;
  font-size: 3vw;
  display: none;
}

.close-navbar-list-btn:hover {
  color: #6a33f8;
}

.header-underline {
  width: 100%;
  height: 40px;
  background-color: #000000;
}

.banner-text-wrapper {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  color: #ffff;
  z-index: 2;
  font-weight: 600;
}

.advantage-list {
  list-style-type: none;
  padding: 0;
}

.advantage-item p {
  text-align: center;
  font-size: 20px;
}

.compare {
  background-color: #f8f8f8;
}

.compare-table {
  font-size: 20px;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

.compare-table th > tr,
.compare-table tr {
  border-bottom: 1px solid #b9b9b9;
}

.compare-table th,
.compare-table td {
  text-align: center;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .compare-table {
    width: 550px;
  }
}

@media (max-width: 767px) {
  .compare .container-xl {
    overflow-x: scroll;
  }
}

.how {
  max-width: 1000px;
  margin: 0 auto;
}

.how-list {
  padding: 0;
  list-style-type: none;
}

.how-item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .how-item:not(:last-child):after {
    content: "";
    position: absolute;
    border: 10px solid #000000;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 30%;
    right: -80%;
  }
}

.how-card {
  width: 115px;
  height: 115px;
  border: 4px solid #000000;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .how-card {
    width: 150px;
    height: 150px;
  }
}

.how-card span {
  font-size: 50px;
}

@media (max-width: 767px) {
  .how-card span {
    font-size: 65px;
  }
}

.product-select {
  min-width: 255px;
  min-height: 38px;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.product-select:focus {
  outline: solid #6a33f8;
}

.product-list {
  list-style-type: none;
}

.product-item {
  position: relative;
}

.product-item-add-btn {
  display: block;
  background-color: #000000;
  color: #ffff;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.product-item-add-btn:hover {
  background-color: #6a33f8;
  color: #ffff;
}

@media (max-width: 767px) {
  .product-item-add-btn {
    padding: 10px 0;
  }
}

.product-item-content {
  min-height: 150px;
}

@media (max-width: 767px) {
  .product-item-content {
    min-height: 100px;
  }
}

.product-item-content .product-item-content-original-price {
  text-decoration: line-through;
  font-size: 1.2rem;
}

.product-item-content .product-item-content-price {
  font-size: 1.5rem;
}

.product-label {
  position: absolute;
  background-color: #000000;
  color: #ffff;
  padding: 0.5rem 3rem;
  top: 3%;
  right: 0;
  z-index: 2;
}

.product img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transition: -webkit-filter 0.3s, -webkit-transform 0.3s;
  transition: -webkit-filter 0.3s, -webkit-transform 0.3s;
  transition: filter 0.3s, transform 0.3s;
  transition: filter 0.3s, transform 0.3s, -webkit-filter 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

@media (max-width: 767px) {
  .product img {
    aspect-ratio: 4/3;
  }
}

.product-image-wrapper {
  overflow: hidden;
}

.product-image-wrapper:hover img {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  background-color: whitesmoke;
  color: #000000;
}

.footer-list {
  padding: 0;
  margin: 0;
}

.footer-item {
  list-style-type: none;
}

.footer-item a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: border-bottom 0.3s, color 0.3s;
  transition: border-bottom 0.3s, color 0.3s;
}

.footer-item a:hover {
  border-bottom: 1px solid #6a33f8;
  color: #6a33f8;
}

.footer .social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer .social-list .social-item {
  cursor: pointer;
}

.table-wrapper {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  overflow-x: scroll;
}

.cart {
  font-size: 1.25rem;
}

.cart-no-product {
  padding: 1rem 1.5rem;
  background-color: #f7f6f7;
  border-top: 3px solid #6a33f8;
}

.cart-no-product-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 0;
}

.cart-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: inherit;
  width: 100%;
}

.cart-head th {
  width: 15%;
  padding: 1rem;
}

.cart-head th:nth-of-type(1) {
  width: 40%;
}

.cart-body tr {
  border-top: 1px solid #b9b9b9;
}

.cart-body td {
  padding: 1rem;
}

.cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.cart-title img {
  width: 100px;
  display: block;
  aspect-ratio: 1/1;
}

.cart-title h3 {
  width: 70%;
  font-size: inherit;
}

.cart-qty input {
  width: 5rem;
  text-align: center;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}

.cart-qty input:focus {
  outline: solid #6a33f8;
}

.cart-delete-btn {
  font-weight: bolder;
}

.cart-delete-all-products-btn {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #000000;
  background-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.cart-delete-all-products-btn:hover {
  background-color: #000000;
  color: #ffff;
}

.cart-total-price {
  font-style: italic;
}

.total-table {
  width: 100%;
  font-size: 1rem;
}

.total-table tr {
  border-bottom: 1px solid #b9b9b9;
}

.total-table tr:last-of-type {
  border: none;
}

.total-table th {
  padding: 9px 12px;
}

.total-table-price {
  font-style: italic;
}

.guess-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1rem;
}

.guess-list-item img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

@media (max-width: 767px) {
  .guess-list-item img {
    aspect-ratio: 4/3;
  }
}

.guess-list-item a {
  display: block;
  color: #ffff;
  text-decoration: none;
  background-color: #000000;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
}

.guess-list-item a:hover {
  background-color: #6a33f8;
  color: #ffff;
}

.guess-list-item-body {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guess-list-item-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert-card-wrapper {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 999;
}

.alert-card-wrapper.alert-success {
  background-color: #a3ebb1;
  color: #18a558;
  border-left: 8px solid #116530;
}

.alert-card-wrapper.alert-danger {
  background-color: #fabec0;
  color: #e43d40;
  border-left: 8px solid #f85c70;
}

.alert-card-wrapper .alert-card-content {
  margin: 0 8px;
}

.alert-card-wrapper .alert-card-button {
  margin-right: 16px;
}

.alert-card-wrapper.show-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: show-alert-anima 1s ease forwards;
          animation: show-alert-anima 1s ease forwards;
}

.alert-card-wrapper.hide-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: hide-alert-anima 1s ease forwards;
          animation: hide-alert-anima 1s ease forwards;
}

@-webkit-keyframes show-alert-anima {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  40% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  80% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes show-alert-anima {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  40% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  80% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@-webkit-keyframes hide-alert-anima {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes hide-alert-anima {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  40% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 130px;
}

.orderInfo-formGroup {
  max-width: 365px;
  margin: 0 auto;
}

.orderInfo-label {
  display: block;
  font-weight: 600;
}

.orderInfo-inputWrap {
  position: relative;
}

.orderInfo-input {
  width: 100%;
  min-height: 38px;
  padding: 10px;
}

.orderInfo-message {
  font-weight: 600;
  color: #c72424;
  position: absolute;
  right: -15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
}

@media (max-width: 767px) {
  .orderInfo-message {
    position: relative;
    top: 10px;
    right: 0;
  }
}

.orderInfo-btn {
  display: block;
  min-width: 250px;
  min-height: 48px;
  margin: 0 auto;
  color: #ffff;
  background-color: #000000;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
}

.orderInfo-btn:hover {
  background-color: #6a33f8;
}

.single-product-image {
  width: 100%;
  aspect-ratio: 1/1;
}

.single-product-text-title {
  font-size: 2rem;
}

.single-product-text-original-price {
  text-decoration: line-through;
  font-size: 1rem;
}

.single-product-text-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.single-product-text-add-btn {
  display: block;
  width: 100%;
  min-height: 30px;
  border: 1px solid red;
  padding: 0.5rem 0;
  text-align: center;
  color: #ffff;
  background-color: #000000;
  font-size: 1rem;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.single-product-text-add-btn:hover {
  background-color: #6a33f8;
  color: #ffff;
}

.about-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.about-text-group {
  line-height: 2;
}

.FAQ-list {
  list-style-type: none;
  padding: 0;
}

.FAQ .panel {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  cursor: default;
}

.FAQ-item {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.FAQ-item .arrow {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0, 1);
}

.FAQ-item > p {
  -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  color: #301e5f;
}

.FAQ-item_active .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.FAQ-item_active .panel {
  max-height: 99rem;
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.swiper img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */