/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

$color-purple: #6a33f8;
$color-grey: #f8f8f8;
$color-table-border-grey: #b9b9b9;

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

// 共用
.title {
  text-align: center;
  margin-bottom: 28px;
}

.navbar {
  font-size: 20px;
  position: relative;
  &-brand {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    a {
      text-decoration: none;
      color: #000000;
      &:hover {
        color: $color-purple;
      }
    }
  }
  &-hamburger-btn {
    display: none;
    position: relative;
    @media screen and (max-width: 860px) {
      display: inline-block;
      width: 40px;
      height: 40px;
      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        background-color: #000000;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s ease, top 0.2s ease;
      }
      &:before {
        top: 30%;
      }
      &:after {
        top: 70%;
      }
      &:focus,
      &:focus-within {
        &:after {
          top: 50%;
          transform: rotate(30deg) translateY(-50%);
        }
        &:before {
          top: 50%;
          transform: rotate(-30deg) translateY(-50%);
        }
        + .navbar-list {
          display: flex;
        }
        @media screen and (max-width: 485px) {
          + .navbar-list .close-navbar-list-btn {
            display: block;
          }
        }
      }
    }
  }
  &-list {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding: 0;
    @media screen and (max-width: 860px) {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      flex-direction: column;
      text-align: center;
      padding: 5px 0;
      border-radius: 3px;
      background-color: #fdfdfd;
    }
    @media screen and (max-width: 485px) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      background-color: #fdfdfd;
      a {
        font-size: 5vw;
      }
    }
  }
  &-item {
    a {
      text-decoration: none;
      display: inline-block;
      padding: 15px 25px;
      color: #000000;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s;
      &:hover {
        color: $color-purple;
        border-bottom: 2px solid $color-purple;
      }
    }
  }
}
.close-navbar-list-btn {
  border: 0;
  font-weight: bold;
  background-color: transparent;
  margin-top: 1rem;
  font-size: 3vw;
  display: none;
  &:hover {
    color: $color-purple;
  }
}

.header-underline {
  width: 100%;
  height: 40px;
  background-color: #000000;
}

.banner {
  &-text-wrapper {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    color: #ffff;
    z-index: 2;
    font-weight: 600;
  }
}

.advantage {
  &-list {
    list-style-type: none;
    padding: 0;
  }
  &-item {
    p {
      text-align: center;
      font-size: 20px;
    }
  }
}

.compare {
  background-color: $color-grey;

  &-table {
    font-size: 20px;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    th > tr,
    tr {
      border-bottom: 1px solid rgb(185, 185, 185);
    }
    th,
    td {
      text-align: center;
      padding: 15px 0;
    }
    @include mobile {
      width: 550px;
    }
  }
  .container-xl {
    @include mobile {
      overflow-x: scroll;
    }
  }
}

.how {
  max-width: 1000px;
  margin: 0 auto;
  &-list {
    padding: 0;
    list-style-type: none;
  }
  &-item {
    position: relative;
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        &:after {
          content: "";
          position: absolute;
          border: 10px solid #000000;
          border-top: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid transparent;
          top: 30%;
          right: -80%;
        }
      }
    }
  }
  &-card {
    width: 115px;
    height: 115px;
    border: 4px solid #000000;
    border-radius: 50%;
    @include mobile {
      width: 150px;
      height: 150px;
    }
    span {
      font-size: 50px;
      @include mobile {
        font-size: 65px;
      }
    }
  }
}

.product {
  &-select {
    min-width: 255px;
    min-height: 38px;
    margin-bottom: 2rem;
    border-radius: 5px;
    &:focus {
      outline: solid $color-purple;
    }
  }
  &-list {
    list-style-type: none;
  }
  &-item {
    position: relative;
    &-add-btn {
      display: block;
      background-color: #000000;
      color: #ffff;
      padding: 1rem 0;
      text-align: center;
      text-decoration: none;
      font-size: 1.25rem;
      font-weight: 600;
      transition: background-color 0.2s;
      &:hover {
        background-color: $color-purple;
        color: #ffff;
      }
      @include mobile {
        padding: 10px 0;
      }
    }
    &-content {
      min-height: 150px;
      @include mobile {
        min-height: 100px;
      }
      .product-item-content-original-price {
        text-decoration: line-through;
        font-size: 1.2rem;
      }
      .product-item-content-price {
        font-size: 1.5rem;
      }
    }
  }
  &-label {
    position: absolute;
    background-color: #000000;
    color: #ffff;
    padding: 0.5rem 3rem;
    top: 3%;
    right: 0;
  }
  img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    @include mobile {
      aspect-ratio: 4/3;
    }
  }
}
footer {
  background-color: whitesmoke;
  color: #000000;
}
.footer {
  &-list {
    padding: 0;
    margin: 0;
  }
  &-item {
    list-style-type: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .social-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .social-item {
      cursor: pointer;
    }
  }
}

// cart
.table-wrapper {
  border: 1px solid $color-table-border-grey;
  border-radius: 5px;
  overflow-x: scroll;
}
.cart {
  font-size: 1.25rem;
  &-no-product {
    padding: 1rem 1.5rem;
    background-color: #f7f6f7;
    border-top: 3px solid $color-purple;
    &-msg {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0;
    }
  }
  &-table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: inherit;
    width: 100%;
  }
  &-head {
    th {
      width: 15%;
      padding: 1rem;
    }
    th:nth-of-type(1) {
      width: 40%;
    }
  }
  &-body {
    tr {
      border-top: 1px solid $color-table-border-grey;
    }
    td {
      padding: 1rem;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 100px;
      display: block;
      aspect-ratio: 1/1;
    }
    h3 {
      width: 70%;
      font-size: inherit;
    }
  }
  &-qty {
    input {
      width: 5rem;
      text-align: center;
      border: 1px solid $color-table-border-grey;
      border-radius: 5px;
      &:focus {
        outline: solid $color-purple;
      }
    }
  }
  &-delete-btn {
    font-weight: bolder;
  }
  &-delete-all-products-btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    &:hover {
      background-color: #000000;
      color: #ffff;
    }
  }
  &-total-price {
    font-style: italic;
  }
}

.total-table {
  width: 100%;
  font-size: 1rem;
  tr {
    border-bottom: 1px solid $color-table-border-grey;
  }
  tr:last-of-type {
    border: none;
  }
  th {
    padding: 9px 12px;
  }
  &-price {
    font-style: italic;
  }
}

.guess-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1rem;
  &-item {
    img {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
      @include mobile {
        aspect-ratio: 4/3;
      }
    }
    a {
      display: block;
      color: #ffff;
      text-decoration: none;
      background-color: #000000;
      text-align: center;
      padding: 5px 10px;
      cursor: pointer;
      &:hover {
        background-color: $color-purple;
        color: #ffff;
      }
    }
  }
}

// alert-msg
.alert-card-wrapper {
  display: none;
  align-items: center;
  justify-content: space-between;
  max-width: 550px;
  font-size: 1.25rem;
  padding: 0.5rem 0;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 999;
}
.alert-card-wrapper.alert-success {
  background-color: #a3ebb1;
  color: #18a558;
  border-left: 8px solid #116530;
}
.alert-card-wrapper.alert-danger {
  background-color: #fabec0;
  color: #e43d40;
  border-left: 8px solid #f85c70;
}
.alert-card-wrapper .alert-card-content {
  margin: 0 8px;
}
.alert-card-wrapper .alert-card-button {
  margin-right: 16px;
}
.alert-card-wrapper.show-alert {
  display: flex;
  animation: show-alert-anima 1s ease forwards;
}
.alert-card-wrapper.hide-alert {
  display: flex;
  animation: hide-alert-anima 1s ease forwards;
}

@keyframes show-alert-anima {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes hide-alert-anima {
  0% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 130px;
}

// cart-form
.orderInfo {
  &-formGroup {
    max-width: 365px;
    margin: 0 auto;
  }
  &-label {
    display: block;
    font-weight: 600;
  }
  &-inputWrap {
    position: relative;
  }
  &-input {
    width: 100%;
    min-height: 38px;
    padding: 10px;
  }
  &-message {
    font-weight: 600;
    color: #c72424;
    position: absolute;
    right: -15%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    @include mobile {
      position: relative;
      top: 10px;
      right: 0;
    }
  }
  &-btn {
    display: block;
    min-width: 250px;
    min-height: 48px;
    margin: 0 auto;
    color: #ffff;
    background-color: #000000;
    transition: background-color 0.2s;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    &:hover {
      background-color: $color-purple;
    }
  }
}

// single product page
.single-product {
  &-image {
    width: 100%;
    aspect-ratio: 1/1;
  }
  &-text {
    &-title {
      font-size: 2rem;
    }
    &-original-price {
      text-decoration: line-through;
      font-size: 1rem;
    }
    &-price {
      font-size: 1.5rem;
      font-weight: bold;
    }
    &-add-btn {
      display: block;
      width: 100%;
      min-height: 30px;
      border: 1px solid red;
      padding: 0.5rem 0;
      text-align: center;
      color: #ffff;
      background-color: #000000;
      font-size: 1rem;
      font-weight: bold;
      border: 0;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.2s;
      &:hover {
        background-color: $color-purple;
        color: #ffff;
      }
    }
  }
}

// swiper

.swiper {
  width: 100%;
  height: 400px;

  &-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
}
